body {
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1% 5%;
}

h1 {
  color: #ffffff;
}

button {
  cursor: pointer;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 20px;
  border-style: none;
  box-shadow: 10px 10px 10px -1px rgba($color: rgb(0, 0, 0), $alpha: 0.16),
    10px 10px 10px -1px rgba($color: #000000, $alpha: 0.7);
}

#addBtn {
  color: green;
  box-shadow: 5px 5px 5px -1px rgba($color: green, $alpha: 0.16),
    5px 5px 5px -1px rgba($color: green, $alpha: 0.7);
}

#delete-product-btn {
  color: red;
  box-shadow: 5px 5px 5px -1px rgba($color: red, $alpha: 0.16),
    5px 5px 5px -1px rgba($color: red, $alpha: 0.7);
}

.main {
  width: 100%;
  height: 82vh;
  padding-top: 100px;
}

#product-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#product-list li {
  color: white;
  list-style: none;
  width: fit-content;
  height: fit-content;
  border-style: solid;
  border-width: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.253);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgb(0, 0, 0);
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
}
